<nav class="navbar navbar-expand-lg navbar-light bg-light py-3">
	<div class="container">
		<a class="navbar-brand" href="/inicio">e-BLaST</a>
		<button
			class="navbar-toggler"
			type="button"
			data-bs-toggle="collapse"
			data-bs-target="#navbarSupportedContent"
			aria-controls="navbarSupportedContent"
			aria-expanded="false"
			aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarSupportedContent">
			<ul class="navbar-nav me-auto mb-2 mb-lg-0"></ul>
			<form class="me-auto">
				<input class="form-control me-2" type="search" placeholder="&#xF002;  Buscar" aria-label="Search" />
			</form>

			<form class="d-flex">
				<ul class="navbar-nav me-auto mb-2 mb-lg-0">
					<li class="nav-item d-flex aling-items-center me-3">
						<i class="fas fa-shopping-cart"></i>
						<a class="nav-link active" href="#">3</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="/ ">Iniciar sesión</a>
					</li>
				</ul>
			</form>
		</div>
	</div>
</nav>
