<div class="main-photo">
	<img src="https://i.postimg.cc/GtkhMgS6/photo2.jpg" alt="" />
	<div class="text">
		<h1 class="slogan">De las redes a tu casa</h1>
		<h3 class="description">e-BLaST ofrece lo mejor del e-commerce a los emprendedores de las redes sociales</h3>
	</div>
</div>
<div class="home container">
	<h2 class="my-5 pt-5 ms-2">Negocios que deberías ver</h2>
	<featured-businesses></featured-businesses>

	<h2 class="my-5 pt-5 ms-2"></h2>
	<products></products>

	<h2 class="mt-5 pt-5 ms-2">Potenciá tu negocio con un solo click</h2>
	<h5 class="ms-2 mt-4">Elegí la suscripción que más se adapte a tu negocio y publicá todos tus productos en tu tienda online e Instagram</h5>
	<subscriptions></subscriptions>
</div>
