<div class="row row-cols-1 row-cols-md-4 g-5 my-4">
	<mat-card class="card col my-5 mx-3 mb-5">
		<mat-card-title class="ms-2">Gratis</mat-card-title>
		<mat-card-content>
			<mat-list role="list">
				<mat-list-item role="listitem">
					<i class="fas fa-check"></i>
					<p class="mb-0 ms-3">Publicar y vender en tienda online</p>
				</mat-list-item>
				<mat-list-item role="listitem" class="not-available">
					<i class="fas fa-times"></i>
					<p class="mb-0 ms-3">Publicar en Instagram</p>
				</mat-list-item>
				<mat-list-item role="listitem" class="not-available">
					<i class="fas fa-times"></i>
					<p class="mb-0 ms-3">Estadísticas avanzadas</p>
				</mat-list-item>
				<mat-list-item role="listitem" class="not-available">
					<i class="fas fa-times"></i>
					<p class="mb-0 ms-3">Soporte personalizado</p>
				</mat-list-item>
				<mat-list-item role="listitem" class="not-available">
					<i class="fas fa-times"></i>
					<p class="mb-0 ms-3">Promoción de un producto por mes</p>
				</mat-list-item>
			</mat-list>
		</mat-card-content>
		<mat-card-actions class="ms-3">
			<h5 class="d-flex align-items-center price-text">
				$
				<h2 class="price">0</h2>
				/mes
			</h5>
		</mat-card-actions>
		<mat-card-footer class="d-flex justify-content-center mb-3">
			<button mat-flat-button color="primary" class="btn-secondary w-75">Elegir</button>
		</mat-card-footer>
	</mat-card>

	<mat-card class="card col my-5 mx-3 mb-5">
		<mat-card-title class="ms-2">Básico</mat-card-title>
		<mat-card-content>
			<mat-list role="list">
				<mat-list-item role="listitem">
					<i class="fas fa-check"></i>
					<p class="mb-0 ms-3">Publicar y vender en tienda online</p>
				</mat-list-item>
				<mat-list-item role="listitem">
					<i class="fas fa-check"></i>
					<p class="mb-0 ms-3">Publicar en Instagram</p>
				</mat-list-item>
				<mat-list-item role="listitem" class="not-available">
					<i class="fas fa-times"></i>
					<p class="mb-0 ms-3">Estadísticas avanzadas</p>
				</mat-list-item>
				<mat-list-item role="listitem" class="not-available">
					<i class="fas fa-times"></i>
					<p class="mb-0 ms-3">Soporte personalizado</p>
				</mat-list-item>
				<mat-list-item role="listitem" class="not-available">
					<i class="fas fa-times"></i>
					<p class="mb-0 ms-3">Promoción de un producto por mes</p>
				</mat-list-item>
			</mat-list>
		</mat-card-content>
		<mat-card-actions class="ms-3">
			<h5 class="d-flex align-items-center price-text">
				$
				<h2 class="price">777</h2>
				/mes
			</h5>
		</mat-card-actions>
		<mat-card-footer class="d-flex justify-content-center mb-3">
			<button mat-flat-button color="primary" class="btn-secondary w-75">Elegir</button>
		</mat-card-footer>
	</mat-card>

	<mat-card class="card col my-5 mx-3 card-main">
		<mat-card-title class="ms-2">Pro</mat-card-title>
		<mat-card-content>
			<mat-list role="list">
				<mat-list-item role="listitem">
					<i class="fas fa-check"></i>
					<p class="mb-0 ms-3">Publicar y vender en tienda online</p>
				</mat-list-item>
				<mat-list-item role="listitem">
					<i class="fas fa-check"></i>
					<p class="mb-0 ms-3">Publicar en Instagram</p>
				</mat-list-item>
				<mat-list-item role="listitem">
					<i class="fas fa-check"></i>
					<p class="mb-0 ms-3">Estadísticas avanzadas</p>
				</mat-list-item>
				<mat-list-item role="listitem">
					<i class="fas fa-check"></i>
					<p class="mb-0 ms-3">Soporte personalizado</p>
				</mat-list-item>
				<mat-list-item role="listitem" class="not-available">
					<i class="fas fa-times"></i>
					<p class="mb-0 ms-3">Promoción de un producto por mes</p>
				</mat-list-item>
			</mat-list>
		</mat-card-content>
		<mat-card-actions class="ms-3">
			<h5 class="d-flex align-items-center price-text">
				$
				<h2 class="price">800</h2>
				/mes
			</h5>
		</mat-card-actions>
		<mat-card-footer class="d-flex justify-content-center mb-3">
			<button mat-flat-button color="primary" class="btn-primary w-75">Probar 14 días</button>
		</mat-card-footer>
	</mat-card>

	<mat-card class="card col my-5 mx-3 mb-5">
		<mat-card-title class="ms-2">Ultra</mat-card-title>
		<mat-card-content>
			<mat-list role="list">
				<mat-list-item role="listitem">
					<i class="fas fa-check"></i>
					<p class="mb-0 ms-3">Publicar y vender en tienda online</p>
				</mat-list-item>
				<mat-list-item role="listitem">
					<i class="fas fa-check"></i>
					<p class="mb-0 ms-3">Publicar en Instagram</p>
				</mat-list-item>
				<mat-list-item role="listitem">
					<i class="fas fa-check"></i>
					<p class="mb-0 ms-3">Estadísticas avanzadas</p>
				</mat-list-item>
				<mat-list-item role="listitem">
					<i class="fas fa-check"></i>
					<p class="mb-0 ms-3">Soporte personalizado</p>
				</mat-list-item>
				<mat-list-item role="listitem">
					<i class="fas fa-check"></i>
					<p class="mb-0 ms-3">Promoción de un producto por mes</p>
				</mat-list-item>
			</mat-list>
		</mat-card-content>
		<mat-card-actions class="ms-3">
			<h5 class="d-flex align-items-center price-text">
				$
				<h2 class="price">1000</h2>
				/mes
			</h5>
		</mat-card-actions>
		<mat-card-footer class="d-flex justify-content-center mb-3">
			<button mat-flat-button color="primary" class="btn-secondary w-75">Elegir</button>
		</mat-card-footer>
	</mat-card>
</div>
