<div class="carousel" data-flickity='{ "cellAlign": "left", "pageDots": false }'>
	<div class="story-status">
		<img src="https://i.postimg.cc/W4ZYXR2v/image.png" class="has-story" alt="" />
		<p>Pet Shop</p>
	</div>

	<div class="story-status">
		<img src="https://i.postimg.cc/C1LDdDrQ/image.png" class="has-story" alt="" />
		<p>Cara Cruz</p>
	</div>

	<div class="story-status">
		<img src="https://i.postimg.cc/mgYFwV0n/image.png" class="has-story" alt="" />
		<p>Las medialunas...</p>
	</div>

	<div class="story-status">
		<img src="https://i.postimg.cc/QtTBFbkS/image.png" class="has-story" alt="" />
		<p>Del Centro</p>
	</div>

	<div class="story-status">
		<img src="https://i.postimg.cc/htLpdLMD/image.png" class="has-story" alt="" />
		<p>Fashion Home</p>
	</div>

	<div class="story-status">
		<img src="https://i.postimg.cc/zXXxgb6K/image.png" class="has-story" alt="" />
		<p>Nose q poner</p>
	</div>

	<div class="story-status">
		<img src="https://i.postimg.cc/SQzMty93/image.png" class="has-story" alt="" />
		<p>Aca tampoco</p>
	</div>

	<div class="story-status">
		<img src="https://i.postimg.cc/V6tk4khF/image.png" class="has-story" alt="" />
		<p>Mimo & Co</p>
	</div>

	<div class="story-status">
		<img src="https://i.postimg.cc/wxc6BZY3/image.png" class="has-story" alt="" />
		<p>Cúspide</p>
	</div>

	<div class="story-status">
		<img src="https://i.postimg.cc/Y9PQL0Wf/image.png" class="has-story" alt="" />
		<p>Peppers</p>
	</div>
</div>
